<div class="controls-container action-inputs mat-elevation-z8">

  <input type="date" id="sstart" name="1" class="date-p" (change)="setFromDate($event)" placeholder="From Date">
  <input type="date" id="eend" name="1" class="date-p" (change)="setToDate($event)" placeholder="To Date">


  <mat-form-field appearance="outline" class="filter-field form-control">
    <!-- <mat-label>Filter</mat-label> -->
    <input matInput [(ngModel)]="searchText" (keyup)="applyFilters()" placeholder="Search images">
  </mat-form-field>

  <input type="file" (change)="onFileSelected($event)" accept="image/*,.tiff" hidden #fileInput />
  <button mat-raised-button color="primary" (click)="fileInput.click()" class="btn btn-primary">
    <mat-icon>file_upload</mat-icon> Select Image
  </button>

  <div class="upload-status-text" *ngIf="selectedFileName">
    <p>{{ selectedFileName }}</p>

  </div>
  <div class="upload-status" *ngIf="selectedFileName">
    <button mat-raised-button color="accent" (click)="uploadFileToAzure()" class="btn btn-primary">
      <mat-icon>cloud_upload</mat-icon> Upload
    </button>
  </div>
</div>

<div *ngIf="uploadInProgress" class="progress-bar-container">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="image-table">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.contentType !== 'image/tiff'">
          <img [src]="element.url" alt="Image" class="uploaded-image" width="250">
        </ng-container>  
        <ng-container *ngIf="element.contentType === 'image/tiff'">
          <app-tiffimage [canvas]="getCanvasElement(element)" [imageUrl]="element.url"></app-tiffimage>
          
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-minimum"> Image Name </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-minimum"> Uploaded Date </th>
      <td mat-cell *matCellDef="let element">{{ element.lastModified | date }}</td>
    </ng-container>

    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef class="width-minimum"> Download </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="downloadImage(element)">
          <mat-icon>cloud_download</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="width-minimum"> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" class="btn btn-primary" (click)="deleteImage(element.name)">
         Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

     <!-- Table Rows or No Data Template -->
     <ng-container *ngIf="dataSource.data.length > 0; else noData">
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </ng-container>


    <!-- No Data Message -->
    <ng-template #noData>
      <tr>
        <td [attr.colspan]="displayedColumns.length" class="no-data-message">
          No data available
        </td>
      </tr>
    </ng-template>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

