<h2 mat-dialog-title class="dialog-title">
  <mat-icon color="warn">warning</mat-icon>
  Confirm Deletion  
</h2>
<mat-dialog-content>
  <p>Are you sure you want to delete this image?</p>
</mat-dialog-content>
<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-button class="cancel-button" color="primary" style="margin-right:25px" class="btn btn-default" (click)="onCancel()">Cancel</button>
  <button mat-raised-button class="delete-button" color="primary" class="btn btn-primary" (click)="onConfirm()">Delete</button>
</mat-dialog-actions>