<div class="content">
    
  <ul class="nav nav-tabs wizard-steps">
    <li *ngFor="let step of steps; let i = index" 
        class="nav-item" 
        [class.active]="i === currentStepIndex" 
        (click)="goToStep(i)">
      <a class="nav-link" 
         [class.active]="i === currentStepIndex" 
         (click)="goToStep(i)" 
         [attr.aria-selected]="i === currentStepIndex">
        {{ step.label }}
      </a>
    </li>
  </ul>
  
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div *ngFor="let step of steps; let i = index" [hidden]="i !== currentStepIndex">
        <div *ngFor="let field of step.fields" [ngSwitch]="field.type">
          <!-- Dynamic Field Rendering -->
          <div *ngSwitchCase="'text'">
            <label [for]="field.name">{{ field.label }}</label>
            <input type="text" [formControlName]="field.name" [placeholder]="field.placeholder" class="form-control"/>
            <div *ngIf="formGroup.get(field.name)?.invalid && formGroup.get(field.name)?.touched" class="invalid-feedback">
              {{ getErrorMessage(field.name) }}
            </div>
          </div>
  
          <div *ngSwitchCase="'email'">
            <label [for]="field.name">{{ field.label }}</label>
            <input type="email" [formControlName]="field.name" [placeholder]="field.placeholder" class="form-control"/>
            <div *ngIf="formGroup.get(field.name)?.invalid && formGroup.get(field.name)?.touched" class="invalid-feedback">
              {{ getErrorMessage(field.name) }}
            </div>
          </div>
  
          <div *ngSwitchCase="'file'">
            <label [for]="field.name">{{ field.label }}</label>
            <input type="file" (change)="onFileSelect($event, field.name)" [formControlName]="field.name" class="form-control"/>
            <div *ngIf="formGroup.get(field.name)?.invalid && formGroup.get(field.name)?.touched" class="invalid-feedback">
              {{ getErrorMessage(field.name) }}
            </div>
          </div>
  
          <!-- Add other cases like checkbox, radio, etc. -->
        </div>
      </div>
  
      <div class="wizard-navigation">
        <button type="button" (click)="goToStep(currentStepIndex - 1)" [disabled]="currentStepIndex === 0" class="btn btn-secondary">Previous</button>
        <button type="button" (click)="goToStep(currentStepIndex + 1)" [disabled]="currentStepIndex === steps.length - 1" class="btn btn-secondary">Next</button>
        <button type="submit" [disabled]="!formGroup.valid || currentStepIndex !== steps.length - 1" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  