.btn {
  padding: 7px 12px;
  border-radius: 6px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.btn-primary {
  background-color: var(--red-x002);
  border: 1px solid var(--red-x002);
  color: #fff;

  &:hover,
  &:active,
  &:focus-visible {
    background-color: var(--red-x002) !important;
  }

  i::before {
    color: #fff !important;
  }
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--red-x002);
  color: var(--red-x002);

  &:hover,
  &:active,
  &:focus-visible {
    background-color: transparent !important;
    color: var(--red-x002);
  }

  i::before {
    color: var(--red-x002) !important;
  }
}

.text-primary {
  color: var(--red-x002) !important;
}

.form-control,
.form-select {
  padding: 7px 12px;
  background-color: #fbf4f4;
  border-color: #ceaaaa;
  font-weight: 400;
  height: 40px;
}

textarea.form-control {
  height: auto;
}


.form-label {
  font-size: 1rem;
  font-weight: 700;
}

h1.title {
  color: var(--text-primary);
  font-size: 2rem;
  margin: 2rem 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

img {
  max-width: 100%;
  width: auto;
}

.danger {
  color: var(--danger-text);
}

label.required-field:after {
  content: "*";
  margin-left: 4px;
  color: var(--danger-text);
}