<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Sidebar -->
<app-sidebar></app-sidebar>

<div class="container sideBarExpanded" id="main">
  <div class="top-bar">
    <button class="openbtn" (click)="openNav()">☰</button>
    <div class="login-actions">
      <a href="javascript:void(0)"><span class="portal-icon-notifications"></span></a>
      <a href="javascript:void(0)"><span class="portal-icon-user-avatar"></span>Welcome user !</a>
    </div>
  </div>
  <h1 class="title">{{title}}</h1>

  <!--Image List-->
  <!-- <app-image-list></app-image-list> -->

  <app-dynamicformgeneration [steps]="formConfig"></app-dynamicformgeneration>
  <!--Footer-->
  <app-footer></app-footer>
</div>
